*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #434455;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 1158px;
  flex-shrink: 0;
  padding: 0 15px;
}

.container-flex {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.logo-top {
  color: #2e2f42;
  width: 71px;
}
.header-link {
  font-weight: 500;
  font-style: normal;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-studio:nth-child(1) {
  color: #404bbf;
}
.link-studio::after {
  position: absolute;
  width: 100%;
  height: 4px;
  content: '';
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
}
.nav-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.nav-list__item:first-child .header-link:hover,
.nav-list__item:first-child .header-link:focus {
  color: #404bbf;
}
.header-adress {
  font-style: normal;
  display: flex;
  margin-left: 332px;
}
.address-items {
  display: flex;
  color: #434455;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  gap: 40px;
  list-style-type: none;
}
.address-items:hover,
.address-items:focus {
  color: #404bbf;
}
.business-section {
  max-width: 1440px;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}
.business {
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  margin-top: 0;
}
.business-modal {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0;
  z-index: -1; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  z-index: 1;
  opacity: 1;
}
.service {
  background-color: #4d5ae5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service:hover,
.service:focus {
  background-color: #404bbf;
}
.studio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
  padding: 0;
  list-style: none;
}

.advantages-items {
  width: calc((100% - 3 * 24px) / 4);
}

.section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  margin-bottom: 8px;
}

.title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 8px;
}
.subtitle {
  display: flex;
  color: #434455;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  gap: 40px;
  list-style-type: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  padding: 0;
  list-style: none;
}
.team-item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-member {
  padding: 32px 0;
}
.ul-team {
  display: flex;
  list-style-type: none;
  gap: 24px;
  justify-content: center;
}
.li-team {
  width: 40px;
  height: 40px;
}

.a-team {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-section .a-team:hover,
.team-section .a-team:focus {
  background-color: #404bbf;
}
.team-leaders {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.svg-team {
  fill: #f4f4fd;
}
.team {
  color: #434455;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.p-hidden {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-headers {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
}
.portfolio-items {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items:hover,
.portfolio-items:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.portfolio-img {
  overflow: hidden;
  position: relative;
}
.portfolio-items:hover .p-hidden {
  transform: translateY(0%);
}
.portfolio-items-id {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-headers {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 8px;
}
.portfolio-items-a {
  color: #434455;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  text-transform: uppercase;
}
.footer-text {
  max-width: 264px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-bottom {
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
}
.left-content {
  margin-right: 120px;
}
.media-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-container .ul-team {
  gap: 16px;
}
.footer-container .a-team:focus,
.footer-container .a-team:hover {
  background-color: #31d0aa;
}
.right-content {
  margin-right: 80px;
}
.subscribe {
  max-width: 453px;
}
.subscribe-container {
  display: flex;
  gap: 24px;
  align-items: end;
}
.subscribe-label {
  display: flex;
  flex-direction: column;
}
.subscribe-span {
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  min-width: 264px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  height: 40px;
  background-color: transparent;
}
.subscribe-button {
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.subscribe-svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-item-wrapper {
  margin-bottom: 8px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  padding: 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  color: #2e2f42;
}
.modal-close-btn:hover {
  background-color: #404bbf;
  color: #fff;
  border: none;
}
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  color: #fff;
}
.close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.modal-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  margin-bottom: 8px;
}
.user-input-wrapper {
  position: relative;
  margin-bottom: 22px;
}
.svg-icon {
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}

.icon-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.input-form {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  outline: transparent;
}
.input-form:focus {
  border-color: #4d5ae5;
}
.input-form:focus + .svg-icon {
  fill: #4d5ae5;
}
.input-form:focus .icon-name {
  fill: #4d5ae5;
}
.label-text {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.user-comment-wrapper {
  margin-bottom: 16px;
}
.textarea-form {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-form:focus {
  border-color: #4d5ae5;
}
.div-form {
  margin-bottom: 24px;
}

.checkbox-form {
  color: var(--iris);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

input[type='checkbox']:checked + .privacy-form > .checkbox-form {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-privacy {
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}
.form-svg {
  width: 10px;
  height: 8px;
}
.form-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  font-weight: 500;
}
/* MOBILE VIEW */

/* Section Web Studio */
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
    padding: 0 16px;
  }
  .studio-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantages-list {
    flex-direction: column;
    gap: 72px;
  }
  .advantages-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-icon {
    display: none;
  }
  .title {
    font-size: 36px;
  }
}

/* Section Our Team */
@media (min-width: 320px) and (max-width: 767px) {
  .team-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .team-list {
    flex-direction: column;
    gap: 72px;
  }
  .team-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Section Our Portfolio */
@media (min-width: 320px) and (max-width: 767px) {
  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .portfolio-list {
    flex-direction: column;
    gap: 72px;
  }
  .portfolio-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .portfolio-items-id {
    width: 100%;
  }
}
